version: '3.8'

services:
  postgres:
    image: postgres:13-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: microservices_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432" # HOST:CONTAINER -> Map port 5433 on your machine to port 5432 inside the container
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d microservices_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: